/* ========================================================= */
/* --------------------------------------------------------- */
/*                       모바일 (공통)                        */
/* --------------------------------------------------------- */
/* ========================================================= */

/* 공통 */
<<<<<<< HEAD
.md-header a.ico_back2, .md-content .content-header.ico_country:before, .md-content .content-header.ico_theme:before, .md-content .content-header.ico_product:before, .md-section .like, .md-section .like.active, .md-section .score:before, .md-section .score.new:before, .md-section .review:before { background-image:url(/stubbyPlanner/externalData/market/images/common/stu_icon.png); background-repeat:no-repeat; }
=======
.md-header a.ico_back2, .md-content .content-header.ico_country:before, .md-content .content-header.ico_theme:before, .md-content .content-header.ico_product:before, .md-section .like, .md-section .like.active, .md-section .score:before, .md-section .score.new:before, .md-section .review:before { background-image:url(../images/common/stu_icon.png); background-repeat:no-repeat; }
>>>>>>> 0g-attraction



/* background 음영 */
.stu_md-background { display:none; position:fixed; top:0; right:0; bottom:0; left:0; margin:0; padding:0; background:rgba(0,0,0,.5); overflow:hidden; z-index:11; }
.stu_md-background.on { display:block; }



/* 모달 영역 */
.md-container { display:-webkit-box; display:-webkit-flex; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; flex-direction:column; position:fixed; top:0; left:50%; width:100%; max-width:680px; -webkit-max-width:680px; height:100%; background-color:#fff; transform:translateX(-50%); }



/* 모달 헤더 영역 */
.md-header { position:fixed; left:50%; transform:translateX(-50%); width:100%; max-width:680px; -webkit-max-width:680px; padding:6.5px 10px; border-bottom:1px solid #3ad195; background:#3ad195; z-index:1; }
.md-header a.ico_back2 { display:inline-block; width:34px; height:34px; margin-right:5px; vertical-align:middle; background-position:-34px 0; background-size:272px; cursor:pointer; }
.md-header .md-searchWrap { display:inline-block; position:relative; -webkit-width:calc(100% - 50px); width:calc(100% - 50px); height:46px; padding:0 18px; -webkit-border-radius:3px; border-radius:3px; background:#fafafa; vertical-align:middle; }
.md-header fieldset { border:none; outline:none; }
.md-header .md-search-input { display:inline-block; height:46px; border:none; background:none; font-size:16px; font-weight:400; }
.md-header .md-search-input:hover, .md-searchArea .md-search-input:focus { outline:none; }



/* 모달 컨텐츠 영역 */
.md-content { margin-top:60px; padding-bottom:60px; overflow-y:auto; }
.md-content .content-header { padding:0 10px; border-bottom:1px solid #e5e5e5; background:#f4f7f8; font-size:16px; font-weight:500; line-height:50px; color:#aaa; }
.md-content .content-header.ico_country:before, .md-content .content-header.ico_theme:before, .md-content .content-header.ico_product:before { content:""; display:inline-block; position:relative; bottom:1px; width:30px; height:30px; vertical-align:middle; background-size:240px; opacity:.4; }
.md-content .content-header.ico_country:before { background-position:-180px 0; }
.md-content .content-header.ico_theme:before { background-position:-150px -30px; }
.md-content .content-header.ico_product:before { background-position:-180px -30px; }
.md-content .content-item { border-bottom:1px solid #e5e5e5; }
.md-content .content-item > a { position:relative; display:-webkit-box; display:-webkit-flex; display:flex; padding:15px 20px; }
.md-content .value { -webkit-box-flex:1; -webkit-flex-grow:1; flex-grow:1; -webkit-align-self:center; align-self:center; padding-right:15px; }
.md-content .value .name { font-size:16px; font-weight:400; color:#444; }
.md-content .value .category { display:block; font-size:15px; font-weight:300; color:#888; }
.md-content .count { -webkit-flex-shrink:0; flex-shrink:0; -webkit-align-self:center; align-self:center; text-align:right; font-size:15px; font-weight:300; color:#37c68d; }



/* 상품 리스트 - 1단 small */
.md-section .prd_header { position:relative; }
.md-section a.stu_reset { line-height:26px; }
.md-section a.stu_reset:after { content:""; display:inline-block; width:16px; height:16px; margin-left:3px; vertical-align:-2.5px; background-position:-192px -176px; background-size:256px; }
.md-section span.prd_count { display:inline-block; margin-left:4px; font-size:17px; font-weight:700; vertical-align:baseline; color:#3ad195; }
.md-section .prd_list { margin:0; background:#fff; }
.md-section .prd_item { display:-webkit-box; display:-webkit-flex; display:flex; position:relative; border-top:1px solid #e5e5e5; padding:14px 10px 16px 15px; }
.md-section .prd_item:first-child { border-top:none; }
.md-section .like { position:absolute; top:16px; left:73px; width:28px; height:28px; background-position:-112px 0; background-size:224px; z-index:2; }
.md-section .like.active { background-position:-84px 0; }
.md-section a.prd { -webkit-box-flex:1; -webkit-flex-grow:1; flex-grow:1; position:relative; }
.md-section a.lock-on { pointer-events:none; }
.md-section a.lock-on:after { content:""; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,.75); }
.md-section .thumb { float:left; position:relative; width:88px; height:88px; margin-right:12px; -webkit-border-radius:3px; border-radius:3px; overflow:hidden; }
.md-section .thumb:before { content:""; position:absolute; top:0; left:0; right:0; height:30%; background-image:linear-gradient(to bottom, black, rgba(0,0,0,0)); opacity:.2; z-index:1; }
.md-section .thumb img { height:100%; width:auto; }
.md-section .band { position:absolute; display:inline-block; bottom:0; right:0; padding:2px 6px; -webkit-border-top-left-radius:3px; border-top-left-radius:3px; font-size:13px; font-weight:400; color:#fff; }
.md-section .cpn { margin-top:-2px; font-size:13px; font-weight:400; color:#497eb7; }
.md-section .duration { color:#8f8f8f; }
.md-section .duration:before { content:""; display:inline-block; height:12px; margin:0 6px 0 4px; border-left:1px solid #ddd; vertical-align:-1px; }
.md-section .name { display:-webkit-box; -webkit-min-height:20px; min-height:20px; -webkit-max-height:35.2px; max-height:35.2px; font-size:14px; font-weight:500; line-height:18px; color:#222; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; }
.md-section .tag { display:-webkit-box; -webkit-max-height:17.6px; max-height:17.6px; font-size:13px; font-weight:300; color:#8f8f8f; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; -webkit-box-orient:vertical; }
.md-section .score { display:inline-block; position:absolute; left:100px; bottom:0; font-size:14px; font-weight:400; line-height:18px; color:#222; }
.md-section .score:before { content:""; display:inline-block; width:14px; height:14px; margin-right:2px; vertical-align:-1.5px; background-position:0 -119.66px; background-size:213.66px; }
.md-section .score.new:before { content:""; display:inline-block; width:15.4px; height:14px; margin-right:2px; vertical-align:-1.5px; background-position:-181.3px -154px; background-size:224px; }
.md-section .ico_star_bg { display:none; }
.md-section .review { color:#8f8f8f; }
.md-section .review:before { content:""; display:inline-block; width:14px; height:14px; margin:0 4px 0 8px; vertical-align:-2.3px; background-position:-182px -140px; background-size:224px; }
.md-section .price { display:inline-block; position:absolute; right:0; bottom:0; font-size:14px; font-weight:500; line-height:18px; color:#222; }
.md-section .price span { margin-left:2px; font-size:13px; font-weight:400; color:#8f8f8f; }












/* ========================================================= */
/* --------------------------------------------------------- */
/*                    태블릿 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){

/* 공통 */



/* background 음영 */



/* 모달 영역 */



/* 모달 헤더 영역 */



/* 모달 컨텐츠 영역 */



}















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC 웹 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:1025px){

/* 공통 */



/* background 음영 */



/* 모달 영역 */
.md-container { top:10%; width:80%; height:80%; }



/* 모달 헤더 영역 */



/* 모달 컨텐츠 영역 */



<<<<<<< HEAD
}
=======
}
>>>>>>> 0g-attraction
