/* ========================================================= */
/* --------------------------------------------------------- */
/*                       모바일 (공통)                        */
/* --------------------------------------------------------- */
/* ========================================================= */

/* 공통 */
a.cancel:after, a.write:before, .stu_prd_list .notice span:before, .stu_category .tabArea li p:after, .stu_prd_list .empty_wrap a span:after, .stu_top p:before { background-image:url(/stubbyPlanner/externalData/market/images/common/stu_icon.png); background-repeat:no-repeat; vertical-align:middle; }
main { margin:0; padding:0; }
section { padding:20px 0 0; background:#fff; }
section:last-child { padding-bottom:40px; }
.titArea { position:relative; padding:0 20px; }
.stu_title { display:inline-block; margin-top:0; margin-bottom:12px; font-weight:600; text-align:left; }
h2.stu_title { font-size:20px; line-height:30px; }
h3.stu_title { font-size:17px; line-height:26px; }
h4.stu_title { font-size:15.5px; line-height:24px; }
p { margin:0; font-size:16px; font-weight:300; line-height:24px; color:#8f8f8f; }
footer { padding:30px 4% 80px; }



/* 헤더영역 */
header .stu_gnb_container { position:fixed; top:0; left:0; right:0; height:50px; border-bottom:1px solid #e5e5e5; background:rgba(255,255,255,.95); line-height:50px; z-index:10; -webkit-transition:top .3s ease; -moz-transition:top .3s ease; -o-transition:top .3s ease; transition:top .3s ease; }
header .stu_gnb_container .stu_inner_wrap { padding:0 16px; }
header .stu_gnb_container .stu_logo { float:left; position:relative; top:8px; height:34px; }
header .stu_gnb_container .stu_gnb_wrap { float:right; display:inline-block; }
header .stu_gnb_container .stu_gnb_wrap li { display:inline-block; position:relative; }
header .stu_gnb_container .stu_gnb_wrap li + li { margin-left:6px; }
header .stu_gnb_container .stu_gnb_wrap li p { display:none; }
header .stu_gnb_container .stu_gnb_wrap li#ico_search { padding:0 20px 0 5px; -webkit-border-radius:18px; border-radius:18px; border:1px solid #e5e5e5; background:#f5f5f5; line-height:34px; }
header .stu_gnb_container .stu_gnb_wrap li#ico_search:after { content:"검색"; font-size:15px; font-weight:300; color:#666; cursor:text; }
header .stu_gnb_container .stu_gnb_wrap li#ico_planner { display:none; }
header .stu_gnb_container button { margin-top:-2px; }
header .stu_gnb_container button.ico_search { display:inline-block; width:30px; height:30px; background-position:-60px -30px; background-size:240px; opacity:.6; }
header .stu_gnb_container button.ico_booking { display:inline-block; width:34px; height:34px; background:url(/stubbyPlanner/externalData/market/images/common/stu_icon.png) 0 -204px no-repeat; background-size:272px; }
header .stu_gnb_container button.ico_planner { display:none; }



/* 배너영역 */
.stu_top_banner { display:block; position:relative; min-height:100px; margin:50px 0 0; padding:0; }
.stu_top_banner .stu_inner_wrap { position:relative; height:100%; padding:24px 0 0; text-align:center; }
.stu_top_banner .titArea { margin:0 0 10px; font-size:26px; font-weight:500; line-height:34px; color:#4a4a4a; }
.stu_top_banner .titArea b { display:block; }
.stu_top_banner .titArea .before_login { display:inline-block; position:relative; width:100%; padding:20px 0; border-bottom:1px solid #e5e5e5; text-align:left; }
.stu_top_banner .titArea .before_login p { font-size:15px; line-height:22px; letter-spacing:0; }
.stu_top_banner .titArea .before_login a { display:inline-block; font-size:15px; font-weight:bolder; line-height:22px; text-decoration:underline; color:#4a4a4a; }
.stu_top_banner .titArea .before_login .btn_login { text-align:center; }
.stu_top_banner .titArea .before_login .btn_login a { display:inline-block; width:200px; margin:16px 0 25px; background:#72c02c; font-size:16px; font-weight:400; line-height:44px; text-decoration:none; color:#fff; }
.stu_top_banner .titArea .before_login .btn_login a:hover { background:#5bb82a; }
.stu_top_banner .titArea .after_login { display:inline-block; width:100%; padding:10px 0 0; }
.stu_top_banner .titArea .after_login a { display:inline-block; font-size:18px; font-weight:bolder; color:#4a4a4a; }



/* 카테고리 */
.stu_category { padding:10px 0 0; }
.stu_category:before, .stu_category:after { content:""; display:block; position:relative; height:8px; border-top:1px solid #eaeaea; background:#f6f6f6; }
.stu_category .tabArea li { float:left; display:inline-block; width:34.5%; height:52px; border-right:1px solid #eaeaea; text-align:center; }
.stu_category .tabArea li:last-child { width:31%; border:0; }
.stu_category .tabArea li a { padding:0 10px; cursor:pointer; }
.stu_category .tabArea li p { display:inline-block; width:100%; font-size:15px; font-weight:300; line-height:50px; white-space:nowrap; color:#8f8f8f; }
.stu_category .tabArea li.on p { border-bottom:3px solid #3ad195; font-weight:bolder; color:#4a4a4a; }



/* 예약 리스트 */
.stu_prd_list { padding:14px 0; background:#f6f6f6; }
.stu_prd_list .prd_list { padding:0 20px; }
.stu_prd_list .prd_item { margin:0 0 40px; }
.stu_prd_list .prd_item, .stu_prd_list .empty_wrap { position:relative; padding:16px 16px 12px; -webkit-border-radius:3px; border-radius:3px; background:#fff; -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2); box-shadow:0 5px 10px rgba(0,0,0,.2); overflow:hidden; }
.stu_prd_list a.cancel { position:absolute; top:13px; right:13px; height:32px; padding:0 0 0 8px; -webkit-border-radius:3px; border-radius:3px; z-index:1; }
.stu_prd_list a.cancel:before { content:"취소"; display:inline-block; font-size:14px; font-weight:bolder; line-height:32px; vertical-align:-2px; color:#4a4a4a; }
.stu_prd_list a.cancel:after { content:""; display:inline-block; width:32px; height:32px; margin:0 0 0 -2px; background-position:0 -32px; background-size:256px; }
.stu_prd_list a.cancel:hover { background:#f5f5f5; }
.stu_prd_list a.write { position:absolute; bottom:57px; right:20px; width:50px; height:50px; -webkit-border-radius:50%; border-radius:50%; border:1px solid #33b886; background:#3ad195; text-align:center; z-index:1; }
.stu_prd_list a.write:before { content:""; display:block; width:23.4px; height:23.4px; margin:4px auto -2px; background-position:-258.3px -6.3px; background-size:288px; }
.stu_prd_list a.write:after { content:"후기"; display:inline-block; font-size:13.5px; font-weight:bolder; line-height:20px; color:#fff; }
.stu_prd_list a.write:hover { background:#33b886; }
.stu_prd_list .completed a.cancel, .stu_prd_list .canceled a.cancel, .stu_prd_list .ongoing a.write, .stu_prd_list .canceled a.write { display:none; }
.stu_prd_list .progress { margin:0 0 12px; font-size:15px; font-weight:400; line-height:24px; color:#fff; }
.stu_prd_list .progress span { display:inline-block; height:26px; padding:0 10px; -webkit-border-radius:14px; border-radius:14px; }
.stu_prd_list .cpn { display:inline-block; margin:0 0 0 2px; font-size:14px; font-weight:400; color:#8f8f8f; }
.stu_prd_list .thumb { display:none; }
.stu_prd_list .name { display:block; display:-webkit-box; max-height:44px; margin:0 0 10px; font-size:16px; font-weight:bolder; line-height:22px; color:#4a4a4a; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; }
.stu_prd_list .desc { display:table; margin:0 0 10px; }
.stu_prd_list .desc dl { display:table-row; }
.stu_prd_list .desc dt { display:table-cell; position:relative; padding:0 20px 0 12px; font-size:14px; font-weight:300; line-height:30px; color:#8f8f8f; }
.stu_prd_list .desc dt:before { content:""; position:absolute; top:13px; left:4px; width:3px; height:3px; -webkit-border-radius:50%; border-radius:50%; background:#8f8f8f; }
.stu_prd_list .desc dd { display:table-cell; font-size:14px; font-weight:400; color:#4a4a4a; }
.stu_prd_list .desc dd span { display:block; }
.stu_prd_list .notice { padding:10px 0 0; border-top:1px solid #e5e5e5; }
.stu_prd_list .notice span { display:inline-block; position:relative; padding:0 0 0 26px; font-size:14px; font-weight:400; line-height:22px; color:#4a4a4a; }
.stu_prd_list .notice span:before { content:""; position:absolute; top:1px; left:0; width:20px; height:20px; background-position:-224px -280px; background-size:320px; }
.stu_prd_list .notice span.completed:before { background-position:-244px -300px; }
.stu_prd_list .notice span.canceled:before { background-position:-224px -300px; }
.stu_prd_list .empty_container { padding:0 20px; }
.stu_prd_list .empty_wrap { margin:0 0 30px; padding:40px 20px; -webkit-box-shadow:inset 0 0 0 .6px rgba(0,0,0,.1); box-shadow:inset 0 0 0 .6px rgba(0,0,0,.1); background:rgba(255,255,255,.8); text-align:center; }
.stu_prd_list .empty_wrap img { display:block; width:70px; margin:0 auto 8px; }
.stu_prd_list .empty_wrap p { display:block; font-size:14px; font-weight:normal; line-height:22px; color:#bebebe; }
.stu_prd_list .empty_wrap p span { display:block; margin:0 0 6px; font-size:18px; }
.stu_prd_list .empty_wrap a { display:inline-block; margin:20px 0 0; border:1px solid #8f8f8f; line-height:42px; color:#4a4a4a; }
.stu_prd_list .empty_wrap a:hover { background:#fafafa; }
.stu_prd_list .empty_wrap a span:after { content:""; display:inline-block; width:18px; height:18px; margin:0 0 0 3px; background-position:-18px -51px; background-size:192px; vertical-align:-3.5px; }



/* 동행 리스트 */
.party .desc dd span:after { content:","; }
.party .desc dd span:last-child:after { display:none; }



/* 비회원 리스트 */
.nonmember { padding:30px 0; border-top:1px solid #eaeaea; background:none; }
.nonmember .stu_inner_wrap { padding:0 20px; }
.nonmember .titArea { position:relative; padding:10px 0 0; }
.nonmember .titArea .stu_title { margin:0; line-height:40px; }
.nonmember .titArea a.stu_btn { position:absolute; top:10px; right:0; height:40px; margin:0; background:#4a4a4a; line-height:40px; color:#fff; }
.nonmember .titArea a.stu_btn:hover { background:#333; }
.nonmember .prd_list { padding:20px 0; }
.nonmember .prd_item { margin:0 0 30px; -webkit-box-shadow:inset 0 0 0 .6px rgba(0,0,0,.12); box-shadow:inset 0 0 0 .6px rgba(0,0,0,.12); }
.nonmember .ongoing, .nonmember .completed, .nonmember .canceled { display:block! important; }




/* 비회원 예약검색 */
.stu_nonmember_resv { padding:40px 0; }
.stu_nonmember_resv .stu_inner_wrap { padding:0 20px; }
.stu_nonmember_resv .titArea { padding:0; }
.stu_nonmember_resv .formArea { padding:15px 20px 20px; -webkit-border-radius:5px; border-radius:5px; background:#f5f5f5; }
.stu_nonmember_resv .formArea li { padding:10px 0; }
.stu_nonmember_resv .formArea li span { display:inline-block; margin:0 0 6px; font-size:15px; font-weight:400; color:#4a4a4a; }
.stu_nonmember_resv .formArea li input { border:none; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:inset 0 0 0 .5px rgba(0,0,0,.12); box-shadow:inset 0 0 0 .5px rgba(0,0,0,.12); background:#fff; }
.stu_nonmember_resv .formArea li input:focus { border:1px solid #8f8f8f; }
.stu_nonmember_resv .btn_submit { text-align:center; }
.stu_nonmember_resv .btn_submit a { display:inline-block; width:200px; margin:16px 0 25px; background:#4a4a4a; font-size:16px; color:#fff; }
.stu_nonmember_resv .btn_submit a:hover { background:#333; }
.stu_nonmember_resv p.resv_comment { display:block; font-size:15px; font-weight:300; line-height:22px; text-align:left; }
.stu_nonmember_resv p.resv_comment span { font-weight:500; color:#4a4a4a; }



/* scroll top */
.stu_top_wrap { display:none; position:relative; height:50px; border-top:1px solid #e5e5e5; background:#fbfbfb; text-align:center; }
.stu_top p { line-height:50px; }
.stu_top p:before { content:""; display:inline-block; position:relative; bottom:1px; width:16.8px; height:18px; margin-right:4px; vertical-align:middle; background-position:-57.6px -123px; background-size:192px; opacity:.8; }

















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    태블릿 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){

/* 공통 */
h2.stu_title { font-size:22px; line-height:30px; }
h3.stu_title { font-size:19px; line-height:28px; }



/* 헤더영역 */
header .stu_gnb_container { position:relative; top:0! important; height:56px; line-height:56px; }
header .stu_gnb_container .stu_inner_wrap { padding:0 20px; }
header .stu_gnb_container .stu_logo { top:11px; }
header .stu_gnb_container .stu_gnb_wrap li + li { margin-left:32px; }
header .stu_gnb_container .stu_gnb_wrap li:after { display:inline-block; font-size:16px; font-weight:400; color:#222; }
header .stu_gnb_container .stu_gnb_wrap li a { position:absolute; top:0; left:0; width:100%; height:100%; }
header .stu_gnb_container .stu_gnb_wrap li#ico_search { padding:0 32px 0 10px; }
header .stu_gnb_container .stu_gnb_wrap li#ico_search:after { content:"국가 또는 도시 검색"; font-size:14px; }
header .stu_gnb_container .stu_gnb_wrap li#ico_booking:after { content:"내 예약"; }
header .stu_gnb_container .stu_gnb_wrap li#ico_planner { display:inline-block; }
header .stu_gnb_container .stu_gnb_wrap li#ico_planner:after { content:"플래너"; }
header .stu_gnb_container button.ico_booking { display:none; }



/* 배너영역 */
.stu_top_banner { margin:0; }
.stu_top_banner .stu_inner_wrap { padding:30px 0 0; text-align:left; }
.stu_top_banner .titArea { margin:0 0 16px; font-size:30px; }
.stu_top_banner .titArea b { margin:0 0 6px; }
.stu_top_banner .titArea .before_login { padding:20px 0 40px; }
.stu_top_banner .titArea .before_login p { width:calc(100% - 240px); }
.stu_top_banner .titArea .before_login p, .stu_top_banner .titArea .before_login a { font-size:15.5px; line-height:24px; }
.stu_top_banner .titArea .before_login .btn_login { position:absolute; top:24px; right:0; }
.stu_top_banner .titArea .before_login .btn_login a { height:50px; margin:0; font-size:17px; line-height:50px; }
.stu_top_banner .titArea .after_login { font-size:18px; }
.stu_top_banner .titArea .after_login a { font-size:20px; }



/* 카테고리 */
.stu_category .tabArea li { width:200px; }
.stu_category .tabArea li:last-child { width:200px; border-right:1px solid #eaeaea; }
.stu_category .tabArea li a { padding:0 40px; }
.stu_category .tabArea li p { font-size:16px; }
.stu_category .tabArea li.on p { font-size:16px; }



/* 예약 리스트 */
.stu_prd_list { padding:30px 0; }
.stu_prd_list .stu_inner_wrap { padding:0 20px; }
.stu_prd_list .titArea { padding:0; }
.stu_prd_list .prd_list { padding:0; }
.stu_prd_list .prd_item { margin:0 0 20px; padding:22px 20px; }
.stu_prd_list a.cancel { top:15px; right:15px; height:40px; padding:0 0 0 10px; }
.stu_prd_list a.cancel:before { font-size:15px; line-height:40px; }
.stu_prd_list a.cancel:after { width:40px; height:40px; background-position:0 -40px; background-size:320px; }
.stu_prd_list a.write { bottom:20px; }
.stu_prd_list .cpn { margin:0 0 0 4px; font-size:15px; }
.stu_prd_list .thumb { float:left; display:block; position:relative; width:116px; height:116px; -webkit-border-radius:3px; border-radius:3px; overflow:hidden; }
.stu_prd_list .prd_info { float:left; width:calc(100% - 116px); padding:0 0 0 14px; }
.stu_prd_list .name { max-height:46px; font-size:18px; line-height:23px; }
.stu_prd_list .desc { width:100%; margin:0 0 5px; }
.stu_prd_list .desc dl { float:left; width:50%; }
.stu_prd_list .desc dt { font-size:15px; line-height:28px; white-space:nowrap; }
.stu_prd_list .desc dd { font-size:15px; }
.stu_prd_list .desc dd.price { white-space:nowrap; }
.stu_prd_list .notice { padding:0; border:none; }
.stu_prd_list .empty_container { padding:0; }
.stu_prd_list .empty_wrap img { display:inline-block; margin:0 10px 0 0; }
.stu_prd_list .empty_wrap p { display:inline-block; font-size:16px; font-weight:300; line-height:26px; text-align:left; vertical-align:middle; }
.stu_prd_list .empty_wrap p span { font-size:20px; font-weight:normal; }
.stu_prd_list .empty_wrap a { display:block; width:200px; margin:20px auto 0; font-size:16px; }
.stu_prd_list .empty_wrap a span:after { margin:0 -6px 0 3px; vertical-align:-3px; }



/* 동행 리스트 */
.party .desc { width:auto; }
.party .desc dl { float:none; width:auto; }
.party .desc dd span { display:inline-block; }
.party .desc dd span:after { margin:0 6px 0 0; }
.party .desc dd span:last-child:after { display:none; }



/* 비회원 리스트 */
.nonmember .titArea { margin:0 0 20px; }
.nonmember .titArea a.stu_btn { top:0; width:200px; }



/* 비회원 예약검색 */
.stu_nonmember_resv .formArea { padding:22px 10px 28px; }
.stu_nonmember_resv .formArea li { float:left; width:40%; padding:0 10px; }
.stu_nonmember_resv .formArea li:last-child { width:60%; }
.stu_nonmember_resv .formArea li span { font-size:16px; }
.stu_nonmember_resv .btn_submit { position:relative; text-align:right; }
.stu_nonmember_resv .btn_submit a { height:50px; font-size:17px; line-height:50px; }
.stu_nonmember_resv p.resv_comment { position:absolute; top:16px; font-size:15.5px; line-height:24px; letter-spacing:0; }




}















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC 웹 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:1025px){

/* 공통 */
.stu_wrap { background:#eeecec; }
p { font-size:18px; }
section { margin:40px 0 0; padding:30px 0 0; }
section:last-child { padding-bottom:60px; }
h2.stu_title { font-size:26px; line-height:32px; text-align:left; }
h3.stu_title { font-size:22px; line-height:30px; }
footer { padding:0 2%; }



/* 헤더영역 */
header .stu_gnb_container .stu_inner_wrap { padding:0; }
header .stu_gnb_container .stu_gnb_wrap li + li { margin-left:40px; }
header .stu_gnb_container .stu_gnb_wrap li#ico_search { padding:0 32px 0 12px; }
header .stu_gnb_container .stu_gnb_wrap li#ico_search:after { content:"국가 또는 도시로 검색하세요"; }



/* 배너영역 */
.stu_top_banner { margin:30px 0 0; background:none; }
.stu_top_banner .stu_inner_wrap { padding:40px 30px; background:#fff; }
.stu_top_banner .titArea { margin:0; padding:0; font-size:34px; }
.stu_top_banner .titArea .before_login { padding:20px 0; border:none; }
.stu_top_banner .titArea .before_login p { width:calc(100% - 340px); }
.stu_top_banner .titArea .before_login p, .stu_top_banner .titArea .before_login a { font-size:16px; word-break:keep-all; }
.stu_top_banner .titArea .before_login .btn_login { right:10px; }



/* 카테고리 */
.stu_category { position:relative; max-width:1100px; min-width:960px; margin:0 auto; padding:0; background:none; }
.stu_category:before, .stu_category:after { display:none; }
.stu_category .stu_inner_wrap { position:absolute; top:50px; left:0; width:24%; max-width:264px; min-width:auto; padding:0 24px 0 0; }
.stu_category .tabArea { padding:10px 20px; border-top:5px solid #666; background:#fff; }
.stu_category .tabArea li { float:none; display:block; width:100%; height:60px; border-right:0; border-bottom:1px solid #eaeaea; text-align:left; }
.stu_category .tabArea li:last-child { width:100%; border:0; }
.stu_category .tabArea li a { padding:0; }
.stu_category .tabArea li p { position:relative; line-height:60px; }
.stu_category .tabArea li.on p { border:none; color:#3ad195; }
.stu_category .tabArea li.on p:after { content:""; position:absolute; top:50%; right:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); width:22px; height:22px; margin:2px 0 0; background-position:-121.55px -150.15px; background-size:352px; }



/* 예약 리스트 */
.stu_prd_list { max-width:1100px; min-width:960px; margin:0 auto; padding:50px 0 0; background:none; }
.stu_prd_list .stu_inner_wrap { width:76%; max-width:836px; min-width:auto; margin:0 0 0 24%; padding:0; }
.stu_prd_list .prd_list { padding:0; }
.stu_prd_list .prd_item { padding:30px 20px; -webkit-box-shadow:none; box-shadow:none; }
.stu_prd_list a.cancel { top:24px; height:50px; padding:0; }
.stu_prd_list a.cancel:before { position:absolute; bottom:2px; width:44px; font-size:14px; line-height:20px; text-align:center; }
.stu_prd_list a.cancel:after { width:44px; margin:0; background-position:2px -44px; }
.stu_prd_list a.write { bottom:26px; }
.stu_prd_list .progress { float:left; width:130px; height:120px; margin:0 14px 0 0; padding:36px 0 0; font-size:16px; line-height:28px; text-align:center; }
.stu_prd_list .progress span { height:30px; margin:0 0 6px; padding:0 14px; -webkit-border-radius:15px; border-radius:15px; }
.stu_prd_list .cpn { display:block; margin:0; line-height:20px; }
.stu_prd_list .thumb { width:120px; height:120px; }
.stu_prd_list .prd_info { width:calc(100% - 264px); padding:0 0 0 18px; }
.stu_prd_list .name { max-height:50px; margin:0 0 12px; padding:0 42px 0 0; font-size:19px; line-height:25px; word-break:keep-all; }
.stu_prd_list .desc { margin:0 0 10px; }
.stu_prd_list .desc dt { font-size:16px; line-height:30px; }
.stu_prd_list .desc dt:before { top:13.5px; }
.stu_prd_list .desc dd { font-size:16px; }
.stu_prd_list .notice span { font-size:15px; }
.stu_prd_list .notice span:before { top:1.5px; }
.stu_prd_list .empty_wrap img { margin:0 14px 0 0; }



/* 비회원 리스트 */
.nonmember { margin:-39px auto 0; padding:0; border:0; }
.nonmember .stu_inner_wrap { width:100%; max-width:1100px; min-width:960px; margin:0 auto; padding:40px; background:#fff; }
.nonmember .titArea { margin:0 0 10px; }
.nonmember .prd_list .prd_item { margin:0; padding:30px 0; -webkit-border-radius:0; border-radius:0; }
.nonmember .prd_list .prd_item + .prd_item { border-top:1px solid #e5e5e5; }
.nonmember a.cancel, .nonmember a.write { right:0; }



/* 비회원 예약검색 */
.stu_nonmember_resv { background:none; }
.stu_nonmember_resv .stu_inner_wrap { padding:0; }
.stu_nonmember_resv .formArea { padding:40px 30px 0; -webkit-border-radius:0; border-radius:0; background:#fff; }
.stu_nonmember_resv .formArea li input { background:#fafafa; }
.stu_nonmember_resv .btn_submit { padding:0 40px 40px; background:#fff; }
.stu_nonmember_resv .btn_submit a { margin:16px 0 0; }
.stu_nonmember_resv p.resv_comment { font-size:16px; }



/* scroll top */
.stu_top_wrap { position:fixed; bottom:50px; left:50%; width:55px; height:55px; margin-left:570px; -webkit-border-radius:2px; border-radius:2px; border:none; background:#8f8f8f; z-index:10; }
.stu_top_wrap:hover { background:#4a4a4a; }
.stu_top p { font-size:0; line-height:56px; }
.stu_top p:before { display:block; bottom:0; width:35px; height:37.5px; margin:9px 0 0 10px; background-position:-155px -256.25px; background-size:400px; opacity:1; }


}
