.daterangepicker i, .daterangepicker .cancelBtn:before, .daterangepicker .prev span, .daterangepicker .next span { background-image:url(https://d3b39vpyptsv01.cloudfront.net/0/0/1550713186429j2iZIxleQ4.png); background-repeat:no-repeat; vertical-align:middle; }


/* í•¸ë“¤ëŸ¬(input) */
.stu_calendar { display:inline-block; position:relative; height:40px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #3ad195; line-height:38px; text-align:left; vertical-align:top; }
.stu_calendar:before { content:""; display:inline-block; position:absolute; top:50%; left:12px; -webkit-transform:translateY(-50%); transform:translateY(-50%); width:20px; height:20px; margin:0 4px 0 0; background:url(https://d3b39vpyptsv01.cloudfront.net/0/0/1550639065423CnMkTCe0Km.png) center no-repeat; background-size:cover; vertical-align:middle; }
.stu_calendar input.selectDate { width:100%; height:100%; padding:0 0 0 36px; border:none; font-size:15px; font-weight:400; color:#4a4a4a; cursor:pointer; }



/* custom*/
.daterangepicker { position:absolute; -webkit-transform-origin:top left; transform-origin:top left; -webkit-transform:scale(0); transform:scale(0); margin:0; padding:0; background:#fff; opacity:0; }
.daterangepicker.action { position:fixed; top:0! important; left:0! important; right:0! important; bottom:0! important; -webkit-transform:scale(1); transform:scale(1); opacity:1; z-index:999; }


.daterangepicker .stu_inner_wrap { padding:0! important; }
.daterangepicker .calendar_head { position:relative; width:100%; height:84px; border-bottom:1px solid #e5e5e5; text-align:center; }
.daterangepicker .icon { display:block; position:absolute; top:0; padding:12.25px 16px; font-size:0; cursor:pointer; }
.daterangepicker .cancelBtn { left:0; /**/ display:none; /**/ }
.daterangepicker .cancelBtn:before { content:""; display:block; width:25.5px; height:25.5px; background-position:-0.85px -276.25px; background-size:272px; }
.daterangepicker .closeBtn { right:0; }
.daterangepicker .closeBtn i { display:block; width:25.5px; height:25.5px; background-position:-4.25px -38.25px; background-size:272px; }
.daterangepicker .drp-selected { font-size:18px; font-weight:bold; line-height:50px; color:#4a4a4a; }
.daterangepicker .calendar_head ul { height:34px; padding:0 12px;line-height:34px; border-top:1px solid #e5e5e5; }
.daterangepicker .calendar_head li { display:inline-block; width:14.285%; font-size:12.5px; color:#aaa; }
.daterangepicker .calendar_body { height:calc(100% - 179px); padding:12px; overflow-y:auto; }


.daterangepicker .drp-calendar {  }
.daterangepicker .calendar-table {  }
.daterangepicker table { position:relative; }
.daterangepicker thead tr:first-child th { padding:2.6% 0; border:none; }
.daterangepicker thead tr:last-child {  }
.daterangepicker thead tr:last-child th { padding:3px 0; border:none; font-size:0; }
.daterangepicker th, .daterangepicker td { padding:4% 0; border:1px solid #ebefed; font-size:13px; font-weight:400; text-align:center; color:#4a4a4a; cursor:pointer; }
.daterangepicker th.month { font-size:16px; font-weight:bold; cursor:unset; }
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date, .daterangepicker td.off:hover, .daterangepicker td.off.in-range:hover, .daterangepicker td.off.start-date:hover, .daterangepicker td.off.end-date:hover { border:none; background:none; font-size:0; pointer-events:none; }
.daterangepicker td.available:hover, .daterangepicker th.available:hover { background:#f4f8f7; }
.daterangepicker td.in-range { border-color:#98dfd1; border-top-style:double; background:#a6ead7; color:#fff; }
.daterangepicker td.in-range:hover { background:#7fe1c5; }
.daterangepicker td.start-date.end-date { -webkit-border-radius:0; border-radius:0; }
.daterangepicker td.active, .daterangepicker td.active:hover { border-color:#3ad195; border-style:double; background:#3ad195; color:#fff; }
.daterangepicker .prev, .daterangepicker .next { position:relative; }
.daterangepicker .prev:hover, .daterangepicker .next:hover { -webkit-border-radius:6px; border-radius:6px; }
.daterangepicker .prev span, .daterangepicker .next span { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); width:32px; height:16px; background-size:256px; }
.daterangepicker .prev span { background-position:-224px -160px; }
.daterangepicker .next span { background-position:-224px -176px; }


.daterangepicker .drp-buttons { position:fixed; left:0; right:0; bottom:0; padding:16px 16px 30px; border-top:1px solid #e5e5e5; background:#fff; }
.daterangepicker .applyBtn { display:block; width:100%; height:48px; -webkit-border-radius:4px; border-radius:4px; background:#3ad195; font-size:16px; font-weight:bold; line-height:48px; color:#fff; }
.daterangepicker .applyBtn:hover { background:#37c68d; }

/*--/custom*/













.daterangepicker.drop-up { margin-top:-7px; }

.daterangepicker.drop-up:before { top:initial; bottom:-7px; border-bottom:initial; border-top:7px solid #ccc; }

.daterangepicker.drop-up:after { top:initial; bottom:-6px; border-bottom:initial; border-top:6px solid #fff; }

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar { float:none; }

.daterangepicker.single .drp-selected { display:none; }

.daterangepicker.auto-apply .drp-buttons { display:none; }

/*.daterangepicker .drp-calendar.right { padding:8px; }*/

.daterangepicker .drp-calendar.single .calendar-table { border:none; }

.daterangepicker td.week, .daterangepicker th.week { font-size:80%; color:#ccc; }

.daterangepicker td.disabled, .daterangepicker option.disabled { color:#999; cursor:not-allowed; text-decoration:line-through; }

.daterangepicker select.monthselect, .daterangepicker select.yearselect { font-size:12px; padding:1px; height:auto; margin:0; cursor:default; }

.daterangepicker select.monthselect { margin-right:2%; width:56%; }

.daterangepicker select.yearselect { width:40%; }

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect { width:50px; margin:0 auto; background:#eee; border:1px solid #eee; padding:2px; outline:0; font-size:12px; }

.daterangepicker .calendar-time { text-align:center; margin:4px auto 0 auto; line-height:30px; position:relative; }

.daterangepicker .calendar-time select.disabled { color:#ccc; cursor:not-allowed; }

.daterangepicker.show-ranges .drp-calendar.left { border-left:1px solid #ddd; }

.daterangepicker .ranges { float:none; text-align:left; margin:0; }

.daterangepicker.show-calendar .ranges { height:8px; }

.daterangepicker .ranges ul { list-style:none; margin:0 auto; padding:0; width:100%; }

.daterangepicker .ranges li { font-size:12px; padding:8px 12px; cursor:pointer; }

.daterangepicker .ranges li:hover { background-color:#eee; }

.daterangepicker .ranges li.active { background-color:#08c; color:#fff; }











/* ========================================================= */
/* --------------------------------------------------------- */
/*                    íƒœë¸”ë¦¿ (ê°€ë¡œ ë° ì„¸ë¡œ)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){

/* custom*/
.daterangepicker { -webkit-transition:transform .12s ease, opacity .12s ease; }
.daterangepicker.action {  }
.daterangepicker .stu_inner_wrap {  }
/*--/custom*/
/* custom*/
.daterangepicker {  }
.daterangepicker.action { position:absolute; top:44px!important; left:-1px!important; bottom:auto!important; width:563px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #3ad195; -webkit-box-shadow:0 5px 10px rgba(0,0,0,.3); box-shadow:0 5px 10px rgba(0,0,0,.3); overflow:hidden; }


.daterangepicker .stu_inner_wrap { max-width:unset; min-width:unset; }
.daterangepicker .calendar_head { display:none; }
.daterangepicker .icon {  }
.daterangepicker .cancelBtn {  }
.daterangepicker .cancelBtn:before {  }
.daterangepicker .closeBtn {  }
.daterangepicker .closeBtn i {  }
.daterangepicker .drp-selected { display:none; }
.daterangepicker .calendar_head ul { display:none; }
.daterangepicker .calendar_head li {  }
.daterangepicker .calendar_body { height:auto; padding:20px; }


.daterangepicker .drp-calendar { width:50%; }
.daterangepicker .drp-calendar.left { padding:0 10px 0 0; }
.daterangepicker .drp-calendar.right { padding:0 0 0 10px; }

.daterangepicker .drp-calendar.left .calendar-table {  }
.daterangepicker .drp-calendar.right .calendar-table {  }

.daterangepicker .calendar-table {  }
.daterangepicker table {  }
.daterangepicker thead tr:first-child th {  }
.daterangepicker thead tr:last-child {  }
.daterangepicker thead tr:last-child th { padding:4% 0; font-size:12.5px; font-weight:300; color:#8f8f8f; }
.daterangepicker th, .daterangepicker td {  }
.daterangepicker th.month {  }
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date, .daterangepicker td.off:hover, .daterangepicker td.off.in-range:hover, .daterangepicker td.off.start-date:hover, .daterangepicker td.off.end-date:hover {  }
.daterangepicker td.available:hover, .daterangepicker th.available:hover {  }
.daterangepicker td.in-range {  }
.daterangepicker td.in-range:hover {  }
.daterangepicker td.start-date.end-date {  }
.daterangepicker td.active, .daterangepicker td.active:hover {  }
.daterangepicker .prev, .daterangepicker .next {  }
.daterangepicker .prev:hover, .daterangepicker .next:hover {  }
.daterangepicker .prev span, .daterangepicker .next span {  }
.daterangepicker .prev span {  }
.daterangepicker .next span {  }


.daterangepicker .drp-buttons { position:relative; padding:10px 0 30px; border:none; text-align:center; }
.daterangepicker .applyBtn { width:260px; height:42px; margin:0 auto; line-height:42px; }
.daterangepicker .applyBtn:hover {  }

/*--/custom*/






/*.daterangepicker { width:auto; }*/

.daterangepicker .ranges ul { width:140px; }

.daterangepicker.single .ranges ul { width:100%; }

.daterangepicker.single .drp-calendar.left { clear:none; }

.daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .drp-calendar { float:left; }

.daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .drp-calendar { float:right; }

/*.daterangepicker.ltr { direction:ltr; text-align:left; }*/

/*.daterangepicker.ltr .drp-calendar.left { clear:left; margin-right:0; }*/

/*.daterangepicker.ltr .drp-calendar.left .calendar-table { border-right:none; border-top-right-radius:0; border-bottom-right-radius:0; }*/

/*.daterangepicker.ltr .drp-calendar.right { margin-left:0; }*/

.daterangepicker.ltr .drp-calendar.right .calendar-table { border-left:none; border-top-left-radius:0; border-bottom-left-radius:0; }

.daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar { float:left; }

.daterangepicker.rtl { direction:rtl; text-align:right; }

.daterangepicker.rtl .drp-calendar.left { clear:right; margin-left:0; }

.daterangepicker.rtl .drp-calendar.left .calendar-table { border-left:none; border-top-left-radius:0; border-bottom-left-radius:0; }

.daterangepicker.rtl .drp-calendar.right { margin-right:0; }

.daterangepicker.rtl .drp-calendar.right .calendar-table { border-right:none; border-top-right-radius:0; border-bottom-right-radius:0; }

.daterangepicker.rtl .drp-calendar.left .calendar-table { padding-left:12px; }

.daterangepicker.rtl .ranges, .daterangepicker.rtl .drp-calendar { text-align:right; float:right; }


}














/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC ì›¹ (ê°€ë¡œ ë° ì„¸ë¡œ)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:730px){

.daterangepicker .ranges { width:auto; }

.daterangepicker.ltr .ranges { float:left; }

.daterangepicker.rtl .ranges { float:right; }

/*.daterangepicker .drp-calendar.left { clear:none!important; }*/


}
